/*

FONTS

*/

@font-face {
  font-family: 'clarikaGeometricLight';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://files.carolinainsurancequote.com/fonts/clarika-geometric-light.woff') format('woff');
}

@font-face {
  font-family: 'clarikaGeometricRegular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://files.carolinainsurancequote.com/fonts/clarika-geometric-regular.woff') format('woff');
}

@font-face {
  font-family: 'clarikaGeometricMedium';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://files.carolinainsurancequote.com/fonts/clarika-geometric-medium.woff') format('woff');
}
