/* VARIABLES */

:root {

  --color-white: #FFFFFF;

  --color-blue-dark: #002361;
  --color-blue-light: #1DA7E0;

  --color-gray-1: #162429;
  --color-gray-2: #EAEEF5;

  --bold: 'clarikaBold';
  --demibold: 'clarikaDemibold';
  --light: 'clarikaLight';

}
